.message {
    border-radius: 10px;
    background-color: lightblue;
    max-width: 200px;
    margin: 10px 0;
    padding: 10px 15px;
}

.message__text {
    font-weight: bold;
    font-size: 1rem;
}

.message__author {
    font-size: 0.4rem;
    color: grey;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 10px 15px;
    height: 400px;

    width: 70%;
}
.messages {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    overflow-y: auto;
}
.message-mine {
    align-self: flex-start;
}

.message-new {
    display: flex;
}
.message-new > div:first-child {
    flex-grow: 1;
}

.text-field input {
    color: green;
}
