.header {
    display: flex;
    justify-content: space-around;

    padding: 10px 0;
    background-color: lightblue;
    color: #fff;

    text-transform: uppercase;
}

.menu-item {
    color: #fff;
    text-decoration: none;
}
.menu-item:not(:last-child) {
    margin-right: 10px;
}
